.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

body{
  background: linear-gradient(orange, white);
  text-align: center;
  font-family: verdana;

}

ul li {
  list-style: none;
  margin:5px;
  padding:2px;
}

img{
  box-shadow: 2px 2px 10px #000;
  border-radius: 50%;
  margin-bottom: 25px;
}